#!/usr/bin/env zsh

###############################################################################
# Search                                                                      #
###############################################################################
# Detect which `ls` flavor is in use and colorize for readability
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
else # macOS `ls`
    colorflag="-G"
fi

alias ll='ls -alrh' # for "low-level" navigation, separating dot config files
alias lt='ls -alrht' # for "high-level" navigation, listing by recency

###############################################################################
# Navigation                                                                  #
###############################################################################

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Combine with ~/.gitconfig `root` command to change directory to repository root
alias cdgr='cd "$(git root)"'

# Display current directory structure with child depth 3
alias treee='tree -L 3'

###############################################################################
# Edit                                                                        #
###############################################################################

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Protect against overwriting
alias cp='cp -i'
alias mv='mv -i'

###############################################################################
# Maintenance                                                                 #
###############################################################################

# Update macOS software, Homebrew, and Homebrew packages
alias update="sudo softwareupdate -i -a; brew update; brew outdated; mas upgrade; brew upgrade; brew cleanup -s --prune=0; tldr --update"

# Recursively delete .DS_Store files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

#################################################################################
# General Utility                                                               #
#################################################################################

# Mirror stdout to stderr, useful for seeing data going through a pipe
alias peek='tee >(cat 1>&2)'

###############################################################################
# Network                                                                     #
###############################################################################

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Mirror a website
alias mirror='wget -m -k -K -E -e robots=off'

# Blacklist servers
alias block='sudo $VISUAL /etc/hosts'