#!/usr/bin/env zsh

###############################################################################
# Search                                                                      #
###############################################################################

# Colorize all 'ls' output for readability
alias ls='ls -G'

# Common content listings
alias ll='ls -alrh' # for "low-level" navigation, separating dot config files
alias lt='ls -alrht' # for "high-level" navigation, listing by recency
alias l='ls'

###############################################################################
# Navigation                                                                  #
###############################################################################

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Common Directories
## AUTO_CD with aliased, global directories allows both 'cd'ing into them and passing them as arguments into commands like 'mv' 
setopt AUTO_CD
alias -g ic="~/Library/Mobile\ Documents/com~apple~CloudDocs"
alias -g dl="~/Downloads"
alias -g dt="~/Desktop"
alias -g p="~/Library/Mobile\ Documents/com~apple~CloudDocs/Projects"

# Combines with ~/.gitconfig 'root' command to change directory to repository root
alias cdgr='cd "$(git root)"'

# Tree listing of depth 3
alias treee='tree -L 3'

###############################################################################
# Edit                                                                        #
###############################################################################

# Enable aliases to be sudo’ed
alias sudo='sudo '

###############################################################################
# Maintenance                                                                 #
###############################################################################

# Get macOS Software Updates, Homebrew, and their installed packages
alias update="sudo softwareupdate -i -a; brew update; brew outdated; mas upgrade; brew upgrade; brew cleanup -s --prune=0; pip3 install --upgrade pip; tldr --update"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

###############################################################################
# Network                                                                     #
###############################################################################

# print local, public, reserved, and link-local IP addresses
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Mirror a website
alias mirror='wget -m -k -K -E -e robots=off'

# Disable certificate check for wget
alias wget='wget --no-check-certificate'

# Blacklist servers
alias block='sudo nano /etc/hosts'